parameters:
    level: max

    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php

    paths:
        - src
        - tests

    excludePaths:
        - vendor

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
