.questionheader {
	color: black;
	margin: 0.5em 0;
	padding: 0.5em 0;
}

.questionnumber {
	font-weight: bold;
}

.questiontitle {
}

.questiontype {
	font-weight: normal;
	color: #7f7f7f;
}

/* some new css classes for the widget eval.tl_class */
.w125 {
	width: calc(12.5% - 30px);
	float: left;
	min-height: 80px;
}
.w20 {
	width: calc(20% - 30px);
	float: left;
	min-height: 80px;
}
.w25 {
	width: calc(25% - 30px);
	float: left;
	min-height: 80px;
}
.w75 {
	width: calc(75% - 30px);
	float: left;
	min-height: 80px;
}

/* backend statistics details */

td.first {
	vertical-align: top;
}

table.tl_cumulated {
	border-collapse:collapse;
	border:  1px #666 solid;
}

.tl_cumulated td {
	border:  1px #666 solid;
	padding: 0.25em;
}

.tl_cumulated th {
	border:  1px #666 solid;
	background-color: #666;
	color: #fff;
	padding: 0.25em;
}

.constantsum td.counter {
	font-weight: bold;
	border-right: 0px;
}

.constantsum td.answer {
	border-left: 0px;
	text-align: right;
}

.constantsum td.selections {
	text-align: center;
}

.matrix td.counter, .multiplechoice td.counter {
	font-weight: bold;
	border-right: 0px;
}

.matrix td.answer, .multiplechoice td.answer {
	border-left: 0px;
	text-align: left;
}

.matrix td.selections, .multiplechoice td.selections {
	text-align: center;
}

#tl_navigation .group-surveys {
    background: url(../images/survey-outline.svg) 3px 2px no-repeat;
}
/* Icons header */
.header_export
{
  padding: 3px 0 3px 21px;
	background-image:url("../images/export.png");
	background-position:left center;
	background-repeat:no-repeat;
  margin-left: 15px;
}

.header_createtan
{
  padding: 3px 0 3px 21px;
	background-image:url("../images/createtan.png");
	background-position:left center;
	background-repeat:no-repeat;
  margin-left: 15px;
}

.tl_left.surveypage {
	line-height: normal;
}
.tl_left.surveypage img {
	vertical-align: text-top;
}

/* the wrapper */
div.tl_content div.slider {
	background-color: darkorange;
	display: flex;
	flex-direction: column;
}
/* the 1st row */
div.tl_content div.slider div.labels {
	display: flex;
	flex-direction: row;
}
/* a single label or image */
div.tl_content div.slider div.labels div.label {
	border: 1px solid greenyellow;
	width: 100%;
	text-align: center;
	margin: 0 0px 0 0px;
}

/* the 2nd row */
div.tl_content div.slider div.input {
	background-color: cornflowerblue;
}
div.tl_content div.slider div.input input {
	margin: 0 1em 0 1em;
}
